web_data/xml/major_institution.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="majorinstitution">
    <xs:complexType>
    <xs:sequence>
        <xs:element name="region" maxOccurs="unbounded">
        <xs:complexType>
                <xs:sequence>
                <xs:element name="regionname" type="xs:string"/>
                <xs:element name="nationalpolicagency" type="xs:integer"/>
                <xs:element name="policestation" type="xs:integer"/>
                <xs:element name="policesubstaion" type="xs:integer"/>
            </xs:sequence>
        </xs:complexType>
        </xs:element>
    </xs:sequence>
    </xs:complexType>
</xs:element>

</xs:schema>